@import "variables";

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: stretch;
  label, input, textarea, button {
      padding-top: 1em;
      padding-bottom: 1em;
  }
  label, input[type=submit] {
      font-weight: bold;
      font-size: 1.5em;
  }
}

input[type=email] , textarea {
    border: 2px solid $brand-primary;
    border-radius: 4px;
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
  }

input[type=submit] {
  background: lightgrey;
  width: 100%;
  border: 0;
}

input[type=submit]:hover,
input[type=submit]:focus {
  background: $brand-primary;
  outline: 0;
}

::placeholder {
    padding: 1em;
}