//https://jsfiddle.net/3ha1gw64/

.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    // width: 60%;
    // height: 300px;
    // margin: auto;
  }
  
  .flexbox > div {
    /*
      1/3  - 3 columns per row
      10px - spacing between columns 
    */
    box-sizing: border-box;
    // margin: 20px 20px 0 0;
    width: calc(1/1*100% - (1 - 1/1)*30px);
    // background: #46B980;
    padding: 0px;
    color: #fff;
    a {
      font-weight: unset;
    //   color: unset;
    }
  }
  
  /*
    align last row columns to the left
    3n - 3 columns per row
  */
  .flexbox > div:nth-child(1n) {
    margin-right: 0;
  }
  
  .flexbox::after {
    content: '';
    flex: auto;
  }
  
  /*
    remove top margin from first row
    -n+3 - 3 columns per row 
  */
  .flexbox > div:nth-child(-n+1) {
    margin-top: 0;
  }