//https://jsfiddle.net/3ha1gw64/

.flexbox-wide {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // width: 60%;
    // height: 300px;
    // margin: auto;
    padding: 20px;
}

.flexbox-wide>div {}

.flexbox-wide>div>h3 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/*
    align last row columns to the left
    3n - 3 columns per row
  */
.flexbox-wide>div:nth-child(4n) {
    margin-right: 0;
}

.flexbox-wide::after {
    content: '';
    flex: auto;
}

/*
    remove top margin from first row
    -n+3 - 3 columns per row 
  */
.flexbox-wide>div:nth-child(-n+4) {
    margin-top: 0;
}

.project-card {

    // border: 1px white solid;

    position: relative;
    /*
      1/3  - 3 columns per row
      10px - spacing between columns 
    */
    box-sizing: border-box;
    // margin: 20px 20px 0 0;
    width: calc(1/4*100%);
    // width: 175px;
    // background: #46B980;
    padding: 5px;
    color: #fff;

    a {
        font-weight: unset;
        //   color: unset;
    }

    & {
        text-align: center;
        min-height: 425px;
    }
}

.hide {
    display: none;
}

.project-link {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    // background: rgb(0, 0, 0);
    // background: rgba(0, 0, 0, 0.7); /* Black see-through */
    // background: $brand-overlay;
    // opacity: .8;
    // color: #f1f1f1;
    // transition: 0.5s ease;
    // // opacity: 1;
    // color: white;
    // font-size: 20px;
    //padding: 20px;
    // text-align: center;
}

.project-card-wide {
    display: flex;
    align-items: top;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.project-card-wide h3 {
    margin-top: unset;
}

// .project-card-image {
//     max-width: 100%;
//     max-height: 100%;
// }

.project-card-wide-text {
    font-size: 20px;
    padding-left: 20px;
}

.project-card-link {
    // position: absolute;
    // bottom: 0;
}