@media only screen 
and (max-width : 480px) {
    .gatsby-highlight {
        //width: 335px !important;
        //width: 50% !important;
        overflow: scroll;
    }
    aside {
        width: 0px;
        display: none;
    }
    header {
        //display: none; //causing horizonal scroll
        .leftSide {
            //display: none;
            padding: 0 1rem;
        }
        .rightSide {
            display: none;
        }
        .menu-desktop {
            display: none;
        }

        justify-content: unset;
    }
    article {
        padding: 0 1rem;
        font-size: 1.5rem;
    }
    // section {
    //     padding: 1rem 2rem;
    //     margin: unset;
    // }
    .blogContent {
        padding: 1rem 2rem;
    }

    .blogBody {
        font-size: 2rem;
    }

    .flexbox > div {
        margin: 2rem 0;
        width: 100%;

    }
}

@media only screen
and (min-width: 481px)
and (max-width: 1024px) {
    aside {
        width: 0px;
        display: none;
    }
    header {
        //display: none; //causing horizonal scroll
        .leftSide {
            //display: none;
            padding: 0 2rem;
        }
        .rightSide {
            //display: none;
        }
        justify-content: unset;
    }
    .sub-header {
        width: 100%;
    }
    article {
        padding: 0 2rem;
        font-size: 2rem;
    }
    // section {
    //     padding: 1rem 2rem;
    //     margin: unset;
    // }
    .blogContent {
        padding: 1rem 2rem;
    }

    .blogBody {
        font-size: 2rem;
    }

    .flexbox > div {
        margin: 2rem 0;
        width: 100%;

    }

}

$container-width: 1000px; 

@media only screen
and (min-width: 1025px) {

    .disclainer {
        span {
            width: $container-width;
        } 
    }

    .sub-header {
        width: $container-width;
    }

    // main {
    //     
    // }

    main {
        width: $container-width;

        // section {
        //     width: 800px;
        // }
    }
}