/*
 * Author: http://stuffandnonsense.co.uk/blog/about/hardboiled_css3_media_queries/
 */

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* ROX: less than 1024 ----- */
@media only screen
and (max-device-width : 1024px) {
    .sub-header {
        width: 90%;
    }
    
    .disclaimer {
        span {
            width: 90%;
        }
    }
    
    main {
        width: 90%;
    }
    
    aside {
        display: none;
        width: 0px;
    }
    
    section {
        padding-left: 1em;
        padding-right: 1em;
    }
    
    article {
        padding: unset;
    }
    
    .flexbox > div {
        flex: 1 0 100%;
        margin: unset;
        margin-bottom: 5em;
    }

    .rightSide {
        display: none;
    }

    .leftSide {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-left: unset;
        .title {
            font-size: 1.4em;
        }
        // ul {
        //     border: 2px solid red; //for design purposes
        // }
    }

    .post h3 {
        border-bottom: 2px solid $brand-primary;
    }
    
}
/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}

// aside {
//     display: none;
//     width: 0px;
// }