$termblue: rgba(38, 177, 217, 0.61);
$termgreen: rgba(51, 255, 0, 0.605);
$termpurple: rgba(75, 0, 130, 1);
$steelblue: #2B3856;
$bluegray: #677492;
$cinnabar: rgba(231, 76, 60, 1);
$glacialblue: rgba(54, 139, 193, 1);
$gray-dark: rgb(40,40,40);
$new-year-gold: rgb(252,194,0);
$new-year-gold-disclaimer: rgb(207,181,59);
$kelley-green: rgb(76,187,23);
$gray-dark-transparent: rgba(40,40,40, .8);
$gray: #798088;
$white-faded: fade(white, 80%);
$white: white;
$gray-light: rgb(179, 179, 179);
$black: black;
$orange: #ed4c15;
$red: red;
$amber: rgb(255,176,0);
$darkgoldenrod: darkgoldenrod;

$brand-primary: $glacialblue;
$brand-primary-banner: $glacialblue;
$brand-navbar: $glacialblue;
$brand-font: 'Raleway';
$disclaimer-color:$white;
$sidebar-background: linear-gradient(to right, black, #282828);


