
// @import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
// @import url('https://fonts.googleapis.com/css?family=Raleway:100,300,400,700|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');


$termblue: rgba(38, 177, 217, 0.61);
$termgreen: rgba(51, 255, 0, 0.605);
$termpurple: rgba(75, 0, 130, 1);
$steelblue: #2B3856;
$bluegray: #677492;
$cinnabar: rgba(231, 76, 60, 1);
$glacialblue: rgba(54, 139, 193, 1);
$gray-dark: rgb(40,40,40);
$new-year-gold: rgb(252,194,0);
$new-year-gold-disclaimer: rgb(207,181,59);
$kelley-green: rgb(76,187,23);
$christmas-green: #00873E;
$gray-dark-transparent: rgba(40,40,40, .8);
$gray: #798088;
$white-faded: fade(white, 80%);
$white: white;
$gray-light: rgb(179, 179, 179);
$black: black;
$orange: #ed4c15;
$red: red;
$amber: rgb(255,176,0);
$darkgoldenrod: darkgoldenrod;
$sunyellow: #FFE87C;
$default: $black;
$default-contrast: #282828;

$pennstateblue: #1E407C;
$pennstatenavy: #001E44;
$pennstatesky:  #009CDE;

// Penn State Theme
// $brand-header-background: $pennstateblue; // $default-contrast
// $brand-body-background: $pennstatenavy;  // $default
// $brand-overlay: $pennstateblue; // $default-contrast
// $brand-primary: $white;
// $brand-links: $pennstatesky;
// $brand-primary-banner: $white;
// $brand-navbar: $pennstatenavy; // $default
// $brand-disclaimer: $pennstatesky; // highlight
// $brand-font: 'Roboto'; // 'Raleway';
// $brand-heading-font: 'Roboto Slab';

// $disclaimer-color: $white;
// $sidebar-background: linear-gradient(to right, $default, $default-contrast);
// $sidebar-background: linear-gradient(to right, $pennstatenavy, $pennstateblue);


$brand-header-background: $default-contrast;
$brand-body-background: $default;
$brand-overlay: $default-contrast;
$brand-primary: $white;
$brand-links: $pennstatesky;
$brand-primary-banner: $white;
$brand-navbar: $default;
$brand-disclaimer: $steelblue; // highlight
$brand-font: 'Roboto'; // 'Raleway';
$brand-heading-font: 'Questrial';

$disclaimer-color: $white;
$sidebar-background: linear-gradient(to right, $default, $default-contrast);
